body {
	background-color: rgba(211, 211, 211, 0.37);
	color: blueviolet;
	font-size: 24px;
	font-family: serif;
}
.header {
	color: blueviolet;
	border-bottom: 1px solid lightgrey;
	font-family: sans-serif;
}
.body {
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: white;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	
}
table {
	box-shadow: 
		-2px 2px 0 1px lightgrey,
		-10px 10px 10px -10px black;
	border-spacing: 0.5em;
	border-radius: 5px;
}
td {
	padding: 0.3em 0.7em;
	border-radius: 5px;

}
.btn {
	border-radius: 5px;
	box-shadow: -1px 1px 4px rgb(169, 76, 255);
}
.btn:hover {
	cursor: pointer;
	box-shadow:  -1px 1px 2px blueviolet;
}
.btn:active {
	cursor: pointer;
	box-shadow: inset 0 0 4px blueviolet;
}
.display {
	padding: 0.2em;
	text-align: right;
	box-shadow: inset -1px 1px 2px rgb(169, 76, 255);
	text-shadow: none;
}

.result {
	display: inline-block;
	vertical-align: middle;
}
